[*.{kt,kts}]
indent_style=tab
indent_size=4
ij_kotlin_imports_layout=*,^
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
ktlint_experimental = enabled
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_chain-method-continuation = disabled # weird rule
ktlint_standard_discouraged-comment-location = disabled # it disallows comments to multi-line fun args
ktlint_standard_property-naming = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_string-template-indent = disabled # due to multiline-expression-wrapping dependency
ktlint_standard_class-signature = disabled # due to discouraged-comment-location
ktlint_standard_if-else-wrapping = disabled # due to discouraged-comment-location
